

body{
    background-color: black;
    background: url('./assets/gifs/street%20night.jpg') !important;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}

img{
    position: fixed;
    top: 0px;
    left: 0px;
}

#monster{
    display: none;
}

#ghostbat{
    display: none;
}

#boss{
    display: none;
}

.playerStatus{
    position: fixed;
    top: 1em;
    right: 1em;
    width: 200px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    
    border: 10px solid grey;
    background-color: darkgray;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    color: gold;
}